openapi: 3.0.2
info:
  title: App API - Data Definitions
  description: >-
    Used to populate the lexicon application
  contact:
    url: 'https://mixpanel.com/get-support'
  version: 1.0.0
servers:
  - $ref: ./common/app-api.yaml#/server
security:
  - ServiceAccount: []
tags:
  - name: Data Definition
    description: Operations to add schemas to a project
paths:
  /projects/{projectId}/events/{eventName}/history:
    parameters:
      - $ref: ./common/parameters.yaml#/path/projectId
      - in: path
        name: eventName
        schema:
          type: string
        required: true
        description: 'The name of the event definition'
    get:
      operationId: list-all-history-for-event-definition
      tags:
        - Data Definition
      summary: Event Definition History
      description: Get all History for an Event Definition
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '401':
          $ref: ./common/responses.yaml#/401Unauthorized
        '403':
          $ref: ./common/responses.yaml#/403Forbidden
  /projects/{projectId}/properties/{propertyName}/history:
    parameters:
      - $ref: ./common/parameters.yaml#/path/projectId
      - in: path
        name: propertyName
        schema:
          type: string
        required: true
        description: The name of the property definition
      - in: query
        name: entity_type
        schema:
          type: string
          enum:
            - event
            - userprofile
        required: true
        description: The type of entity it is tied to
    get:
      operationId: list-all-history-for-property-definition
      tags:
        - Data Definition
      summary: Event Definition History
      description: Get all History for an Event Definition
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '401':
          $ref: ./common/responses.yaml#/401Unauthorized
        '403':
          $ref: ./common/responses.yaml#/403Forbidden

components:
  securitySchemes:
    $ref: ./common/securitySchemes.yaml
  schemas:
    UserDetails:
      type: object
      description: Information about the user who made a change
      properties:
        name:
          type: string
          description: The user's full name
          example: Michael Scott
        id:
          type: number
          description: The id of the user entry in app db
          example: 33
        email:
          type: string
          description: The user's email address
          example: michael@dundermifflinity.com

    HistoryEntry:
      allOf:
        - type: object
          properties:
            timestamp:
              type: number
              description: UTC Timestamp of when the change was made
            user:
              $ref: '#/components/schemas/UserDetails'
            history_id:
              type: string
              format: uuid
              description: The UUID of the historical entry
        - oneOf:
            - type: object
              properties:
                history_type:
                  type: string
                  enum:
                    - deleted
            - type: object
              properties:
                has_unrecorded_history:
                  type: boolean
                history_type:
                  type: string
                  enum:
                    - created
                    - changed
                field:
                  type: string
                value:
                  type: object
                  properties:
                    from:
                      description: original value
                    to:
                      description: new value
    HistoryResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/HistoryEntry'
        status:
          type: string
          enum:
            - ok
