apiDefinitions:
  data-definitions.internal: ./src/data-definitions.internal.openapi.yaml

lint:
  extends:
    - all
  rules:
    info-license: off
    paths-kebab-case: off
    boolean-parameter-prefixes: off

    # Todo: fix these offenders
    operation-tag-defined: off
    parameter-description: off
